{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->



	<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">Forgot Password</h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right">Got password? Login</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
{% endblock %}
